<div>
    <h1>Panel de Administración</h1>
    <form id="addItem_form">
        <div>
            <div>
                <input type="file" id="file" required>
            </div>
            <div>
                <input type="text" name="title" id="title" placeholder="Title" required />
                <input type="text" name="category" id="category" placeholder="Category" required />
                <input type="number" name="price" id="price" placeholder="Price" required />
                <input type="number" name="stock" id="stock" placeholder="Stock" required />
                <input type="text" name="description" id="description" placeholder="Description" required />
            </div>
        </div>
        <div class="div_btns">
            <input type="reset" value="Borrar" class="borrar_btn" />
            <input type="submit" value="Agregar" class="agregar_btn" />
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr class="categories__list">
                <th scope="col" class="id">Id</th>
                <th scope="col" class="category">Category</th>
                <th scope="col" class="title">Title</th>
                <th scope="col" class="thumbnail">Thumbnail</th>
                <th scope="col" class="price">Price</th>
                <th scope="col" class="stock">Stock</th>
                <th scope="col" class="delete" id="delete">Delete</th>
            </tr>
        </thead>
        <tbody id="tbl_bdy">
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="http://localhost:8080/public/js/main.js"></script>